* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    padding: 20px 0;
}

body, input, button { 
    font-family: 'Oswald', sans-serif;
} 

.container {
    width: 45%;
    height: 667px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.27);
}

.container .height-data {
    background-color: #3498db;
    height: 240px;
    width: 100%;
}

.container .weight-data {
    background-color: #34495e;
    height: 240px;
    width: 100%;
}

.container .data-title {
    margin-top: 10px;
    margin-left: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.container .form-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .input-data {
    background-color: transparent;
    border: none;
    width: 50%;
    height: 148px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
}

.container .imc-result {
    background-color: #ffffff;
    height: 187px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .imc-result .btn-imc {
    width: 95%;
    height: 148px;
    box-shadow: 0 6px 0 #245b3b;
    border: none;
    border-radius: 4px;
    background-color: #27ae60;
    color: #ffffff;
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}








@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
}